@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>This is a test for Hamza Lakhani's learning about the ASP.NET Core code and tools.</p>
</div>
